In [1]:
import sqlite3
import pandas as pd
import os
os.system('clear')

0

In [2]:
DB_FILE = "database.sqlite"
try:
    conn = sqlite3.connect(DB_FILE)
    print("SQLite Database connection successful")
except Exception as e:
    print(f"Error '{e}'")

SQLite Database connection successful

In [3]:
#Task 1
tablenames_df = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
print(tablenames_df)

for table in ['users', 'posts', 'comments', 'reactions', 'follows']:
    print(f'\n\ntable: {table}')
    table_df = pd.read_sql_query(f"SELECT * FROM {table}", conn)
    print(f'Number of rows: {len(table_df)}')
    print(f'Columns: {list(table_df.columns)}')
    column_info_df = pd.read_sql_query(f"PRAGMA table_info({table})", conn)
    print(f'Column types:')
    print(column_info_df[['name', 'type']])
    print(f'Sample data:')
    print(table_df.head())
    print(table_df.head())

              name
0          follows
1            users
2  sqlite_sequence
3        reactions
4         comments
5            posts


table: users
Number of rows: 210
Columns: ['id', 'username', 'location', 'birthdate', 'created_at', 'profile', 'password']
Column types:
         name          type
0          id           INT
1    username   varchar(50)
2    location  varchar(100)
3   birthdate          date
4  created_at     timestamp
5     profile          TEXT
6    password          TEXT
Sample data:
   id       username              location   birthdate           created_at  \
0   1   artistic_amy           Boston, USA  1997-06-30  2022-07-01 12:17:48
1   2  traveller_tom       Berlin, Germany  1990-10-12  2022-05-17 17:32:48
2   3    coder_chris  Melbourne, Australia  1983-01-25  2022-10-05 21:02:48
3   4     baker_beth         Paris, France  1994-12-05  2022-08-09 12:32:48
4   5    runner_ryan          Tokyo, Japan  1986-04-18  2022-04-11 15:32:48

                                             profile  password
0  Artistic soul from Boston ? | Born in '97 | Ba...  izmQoLHw
1  Berlin native, born on 10/12/90. ? Cinephile w...  wLx6NQR1
2  Coder. Sports Enthusiast. Music Lover. Culinar...  Yl09LCC4
3  \"‘Life is short, eat dessert first.’ Also me:...  dgnBoMV1
4  Running through life with purpose. Tokyo-born ...  a8g9xgL7
   id       username              location   birthdate           created_at  \
0   1   artistic_amy           Boston, USA  1997-06-30  2022-07-01 12:17:48
1   2  traveller_tom       Berlin, Germany  1990-10-12  2022-05-17 17:32:48
2   3    coder_chris  Melbourne, Australia  1983-01-25  2022-10-05 21:02:48
3   4     baker_beth         Paris, France  1994-12-05  2022-08-09 12:32:48
4   5    runner_ryan          Tokyo, Japan  1986-04-18  2022-04-11 15:32:48

                                             profile  password
0  Artistic soul from Boston ? | Born in '97 | Ba...  izmQoLHw
1  Berlin native, born on 10/12/90. ? Cinephile w...  wLx6NQR1
2  Coder. Sports Enthusiast. Music Lover. Culinar...  Yl09LCC4
3  \"‘Life is short, eat dessert first.’ Also me:...  dgnBoMV1
4  Running through life with purpose. Tokyo-born ...  a8g9xgL7


table: posts
Number of rows: 1303
Columns: ['id', 'user_id', 'content', 'created_at']
Column types:
         name       type
0          id    INTEGER
1     user_id    INTEGER
2     content       TEXT
3  created_at  TIMESTAMP
Sample data:
     id  user_id                                            content  \
0  1718       10  Just had the most ridiculous encounter with a ...
1  1719       10  Trying to plan a spontaneous trip to Bali. Is ...
2  1720       10  Why do people act like they know everything ab...
3  1721       10  Spent the day in Kyoto with friends. The templ...
4  1722       10  Ever notice how politicians talk a lot but say...

            created_at
0  2023-10-12 10:43:24
1  2023-12-05 21:30:24
2  2024-03-18 12:13:24
3  2024-06-01 16:43:24
4  2024-08-09 10:58:24
     id  user_id                                            content  \
0  1718       10  Just had the most ridiculous encounter with a ...
1  1719       10  Trying to plan a spontaneous trip to Bali. Is ...
2  1720       10  Why do people act like they know everything ab...
3  1721       10  Spent the day in Kyoto with friends. The templ...
4  1722       10  Ever notice how politicians talk a lot but say...

            created_at
0  2023-10-12 10:43:24
1  2023-12-05 21:30:24
2  2024-03-18 12:13:24
3  2024-06-01 16:43:24
4  2024-08-09 10:58:24


table: comments
Number of rows: 5804
Columns: ['id', 'post_id', 'user_id', 'content', 'created_at']
Column types:
         name       type
0          id    INTEGER
1     post_id    INTEGER
2     user_id    INTEGER
3     content       TEXT
4  created_at  TIMESTAMP
Sample data:
   id  post_id  user_id                                            content  \
0   1     1963       55  Haha, I bet your neighbors are either loving o...
1   2     1963       55  LOL, I'm imagining you as a mad scientist, sur...
2   3     1963       55  Haha, I can just picture you rocking out in yo...
3   4     1796       78  Are you seriously buying into this mindfulness...
4   5     1796       13  This is great! Mindfulness can truly change pe...

            created_at
0  2022-12-04 02:36:15
1  2022-12-02 20:16:20
2  2022-12-03 02:54:02
3  2022-12-07 06:35:14
4  2022-12-02 17:44:02
   id  post_id  user_id                                            content  \
0   1     1963       55  Haha, I bet your neighbors are either loving o...
1   2     1963       55  LOL, I'm imagining you as a mad scientist, sur...
2   3     1963       55  Haha, I can just picture you rocking out in yo...
3   4     1796       78  Are you seriously buying into this mindfulness...
4   5     1796       13  This is great! Mindfulness can truly change pe...

            created_at
0  2022-12-04 02:36:15
1  2022-12-02 20:16:20
2  2022-12-03 02:54:02
3  2022-12-07 06:35:14
4  2022-12-02 17:44:02


table: reactions
Number of rows: 8276
Columns: ['id', 'post_id', 'user_id', 'reaction_type']
Column types:
            name     type
0             id  INTEGER
1        post_id  INTEGER
2        user_id  INTEGER
3  reaction_type     TEXT
Sample data:
   id  post_id  user_id reaction_type
0   1     2631       60          like
1   2     2631      146          like
2   3     2631       98          like
3   4     2631       43          like
4   5     2570       71          like
   id  post_id  user_id reaction_type
0   1     2631       60          like
1   2     2631      146          like
2   3     2631       98          like
3   4     2631       43          like
4   5     2570       71          like


table: follows
Number of rows: 7225
Columns: ['follower_id', 'followed_id']
Column types:
          name type
0  follower_id  INT
1  followed_id  INT
Sample data:
   follower_id  followed_id
0           12            1
1           16            1
2           17            1
3           22            1
4           24            1
   follower_id  followed_id
0           12            1
1           16            1
2           17            1
3           22            1
4           24            1

In [4]:
#Task 2
try:
    lurkers_df = pd.read_sql_query("""
    SELECT
        COUNT(*) AS lurkers_count
    FROM
        users
    WHERE
        users.id NOT IN (SELECT user_id FROM posts)
        AND
        users.id NOT IN (SELECT user_id FROM comments)
        AND
        users.id NOT IN (SELECT user_id FROM reactions);
    """, conn)
    print(f'\n\nNumber of lurkers (users with no interactions)')
    print(lurkers_df)
except Exception as e:
    print(f"AError: {e}")

Number of lurkers (users with no interactions)
   lurkers_count
0             55

In [5]:
try:
    influencers_df = pd.read_sql_query("""
    SELECT
        users.id AS user_id,
        users.username,
        COUNT(DISTINCT comments.id) + COUNT(DISTINCT reactions.id) AS total_engagement
    FROM
        users
    LEFT JOIN
        posts ON users.id = posts.user_id
    LEFT JOIN
        comments ON posts.id = comments.post_id
    LEFT JOIN
        reactions ON posts.id = reactions.post_id
    GROUP BY
        users.id, users.username
    ORDER BY
        total_engagement DESC
    LIMIT 5;
    """, conn)
    print(f'\n\nTop 5 users with most engagement on their posts')
    print(influencers_df)
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Top 5 users with most engagement on their posts
   user_id      username  total_engagement
0       54    WinterWolf               446
1       65   PinkPanther               386
2       94     PinkPetal               383
3       81  GoldenDreams               366
4       30     WildHorse               353

In [6]:
# Task 4
try:
    spammers_df = pd.read_sql_query("""
    SELECT
        user_id,
        users.username,
        content,
        COUNT(*) AS repeat_count
    FROM (
        SELECT user_id, content FROM posts
        UNION ALL
        SELECT user_id, content FROM comments
    ) AS all_content
    LEFT JOIN
        users ON all_content.user_id = users.id
    GROUP BY
        user_id, content
    HAVING
        COUNT(*) >= 3
    ORDER BY
        repeat_count DESC;
    """, conn)
    print(f'\n\nUsers who posted/commented same text 3+ times')
    print(spammers_df)
except Exception as e:
    print(f"Error: {e}")

Users who posted/commented same text 3+ times
    user_id      username                                            content  \
0       513     night_owl  ? Mega Giveaway Alert! ? Follow all accounts w...
1       530   coding_whiz  Top 10 gadgets of 2025 – All available here: b...
2       513     night_owl  ?FLASH GIVEAWAY? Click the link in our bio to ...
3       533   eco_warrior  Not gonna lie, I was skeptical at first. But a...
4       521  history_buff  A lot of you asked what helped me drop 5kg in ...
5       521  history_buff  Best way to clean your sneakers ? snag yours h...
6       521  history_buff  Mood: me refreshing for likes every 30 seconds...
7       524     yoga_yogi  I couldn’t believe it! I just entered this giv...
8       530   coding_whiz  Shocking! #lol #weekend #coffee #bookstagram #...
9       513     night_owl  ?FREE VACATION? Tag a friend you’d take to Bal...
10      513     night_owl  Find out why everyone is switching to this new...
11      521  history_buff  What do you think? #thoughts #motivationmonday...
12      533   eco_warrior  Wearing this hoodie in my latest reel—so many ...
13      513     night_owl  This one trick will make you $500/day from hom...
14      521  history_buff  You need this travel pillow in your life ? sho...
15      524     yoga_yogi  Just entered this Xbox giveaway and the form w...
16      530   coding_whiz  ?FREE VACATION? Tag a friend you’d take to Bal...
17      533   eco_warrior  Revolutionary idea! #fashionblogger #instafash...

    repeat_count
0              8
1              8
2              7
3              7
4              5
5              5
6              5
7              5
8              5
9              4
10             4
11             4
12             4
13             3
14             3
15             3
16             3
17             3

In [7]:
!apt-get install git -y

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.15).
0 upgraded, 0 newly installed, 0 to remove and 35 not upgraded.

In [8]:
!git config --global user.name "Rayed1"
!git config --global user.email "eshmamrayed99@gmail.com"

In [9]:
!git clone https://github.com/Rayed1/Social-computing-homework.git

Cloning into 'Social-computing-homework'...
warning: You appear to have cloned an empty repository.

In [ ]:
import json
import requests
from google.colab import _message

# Get the current notebook as JSON
ipynb = _message.blocking_request('get_ipynb')['ipynb']

# Save it as Homework1.ipynb in /content/
with open("/content/HomeWork_Task_1.ipynb", "w") as f:
    f.write(json.dumps(ipynb))

print("Notebook saved as /content/HomeWork_Task_1.ipynb")